<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lol.higg.mapper.HiggCommentMapper">
    <select id="getList" resultType="com.lol.higg.dto.member.HiggCommentDTO">
        select * from higg_comment where searchNum=#{searchNum} order by idx desc;
    </select>
<insert id="insertComment" parameterType="com.lol.higg.dto.member.HiggCommentDTO">
    insert into higg_comment (uid, message ,searchNum)values(#{uid},#{message},#{searchNum});

</insert>












</mapper>